
/* go back*/
  .go-back-btn {
    color: #fdfcfa; 
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
  }

  .go-back-btn:hover {
    color: #868382;
  }
/* go back*/
.butn{ 
    background-color: #343e9d;
    border-style:none;

}