@font-face {
  font-family: "para";
  src: url("../ressource/fonts/ZenKakuGothicNew-Regular.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../ressource/fonts/ZenKakuGothicNew-Bold.ttf");
}
@font-face {
  font-family: "titre";
  src: url("../ressource/fonts/SecularOne-Regular.ttf");
}
.none {
  display: none !important;
}

html body #container-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  z-index: 5000;
  width: 100%;
  height: 260px;
}
html body #container-menu #menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90%;
  height: 100%;
  padding-bottom: 10px;
}
html body #container-menu #menu-mobile #close-menu {
  width: 30px;
  align-self: flex-end;
  cursor: pointer;
}
html body #container-menu #menu-mobile a {
  text-decoration: none;
  font-family: "bold";
  font-size: 20px;
  color: white;
}

@media screen and (width < 1130px) {
  #titreCouverture {
    font-size: 60px !important;
  }
  #description {
    font-size: 18px !important;
  }
}


  #titreCouverture {
    font-size: 50px !important;
  }
  #description {
    font-size: 17px !important;
  }

  #menu-burger {
    display: block !important;
  }
  html body footer #container {
    width: 100% !important;
    font-size: 14px !important;
  }
  #titreCouverture {
    font-size: 45px !important;
  }

@media screen and (width < 650px) {
  #btn-credits {
    top: 70% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  .infooter {
    margin: 30px 0 50px !important;
  }
}
@media screen and (width < 581px) {
  #imgfond {
    display: none !important;
  }
}
@media screen and (width < 450px) {
  #credits {
    font-size: 12px !important;
    text-align: center !important;
  }
  #btn-credits {
    font-size: 14px !important;
  }
  .infooter {
    font-size: 14px !important;
  }
  .infooter span:first-child {
    font-size: 17px !important;
  }

  #menu-burger {
    right: 20px !important;
  }
}
@media screen and (width < 1680px) {
  #orga {
    width: 95% !important;
  }
}
@media screen and (width < 1520px) {
  #flex {
    width: 100% !important;
  }
}
@media screen and (width < 1440px) {
  #container-pro {
    display: none !important;
  }
  #container-pro-tablette {
    display: flex !important;
  }
}
@media screen and (width < 1365px) {
  #enseignement {
    padding: 30px 0px !important;
  }
  #enseignement #container-cours {
    width: 95% !important;
  }
  #container-map {
    width: 90% !important;
  }
}
@media screen and (width < 1275px) {
  .CardContainer {
    font-size: 17px !important;
  }
  .card-orga img {
    width: 100px !important;
  }
  #frise-orga {
    display: none !important;
  }
  #frise-mobile {
    display: flex !important;
  }
  #container-ecoles {
    width: 90% !important;
  }
}
@media screen and (width < 1200px) {
  #flex {
    display: none !important;
  }
  #flex2 {
    display: flex !important;
    flex-wrap: wrap;
    width: 100% !important;
  }
  #flex2 .CardContainer {
    width: 40% !important;
    margin-bottom: 30px !important;
  }
  #flex2 #CardContainerLeft2 {
    width: 50% !important;
    opacity: 0;
    transform: translate(0px, 200px);
    transition: all 1.2s;
  }
  #flex2 #CardContainerMiddle2 {
    opacity: 0;
    transform: translate(200px, 0px);
    transition: all 1.2s;
  }
  #flex2 #CardContainerRight2 {
    opacity: 0;
    transform: translate(-200px, 0px);
    transition: all 1.2s;
  }
}
@media screen and (width < 1130px) {
  #enseignement {
    grid-column: 1/6 !important;
  }
  #enseignement #container-cours {
    width: 80% !important;
  }
  #parcours {
    grid-column: 1/4 !important;
  }
  #sae {
    grid-column: 4/6 !important;
  }
  #stage {
    grid-column: 1/6 !important;
  }
  #container-ecoles {
    width: 95% !important;
  }
  #container-ecoles ul {
    font-size: 16px !important;
  }
  #container-ecoles h3 {
    font-size: 20px !important;
  }
  #container-ecoles img {
    width: 70px !important;
  }
  #map h2 {
    padding: 60px 0 20px !important;
  }
  #container-map {
    flex-direction: column !important;
  }
  #container-map #info-map {
    width: 95% !important;
    font-size: 18px !important;
    text-align: center !important;
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 1.2s;
  }
  #container-map iframe {
    margin: 40px 0 80px;
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 1.2s;
  }
}
@media screen and (width < 1000px) {
  #enseignement #container-cours {
    width: 90% !important;
  }
  #container-ecoles {
    justify-content: space-evenly !important;
  }
  html body #ContainerInfos #insertion-pro p {
    text-align: justify !important;
  }
}
@media screen and (width < 900px) {
  #containerBUT h1 {
    width: 80%;
    font-size: 45px !important;
  }
  #flex2 {
    display: none !important;
  }
  #flex {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
  }
  #flex .CardContainer {
    width: 60% !important;
    margin-bottom: 30px !important;
  }
  #flex #CardContainerLeft {
    opacity: 0;
    transform: translate(0px, 200px);
    transition: all 1.2s;
  }
  #flex #CardContainerMiddle {
    opacity: 0;
    transform: translate(0px, 250px);
    transition: all 1.2s;
  }
  #flex #CardContainerRight {
    opacity: 0;
    transform: translate(0px, 300px);
    transition: all 1.2s;
  }
  #container-info-card {
    display: flex !important;
    flex-direction: column !important;
    width: 95%;
  }
  #container-info-card .card-orga {
    padding: 20px !important;
    margin-bottom: 40px !important;
  }
  #container-info-card #container-stage {
    justify-content: space-between !important;
  }
  #container-info-card #container-cours {
    width: 100% !important;
  }
}
@media screen and (width < 859px) {
  #container-pro-tablette {
    display: none !important;
  }
  .main-carousel {
    display: block !important;
  }
  #insertion-pro {
    padding-bottom: 100px;
  }
}
@media screen and (width < 800px) {
  #containerBUT h1 {
    width: 90%;
    font-size: 42px !important;
  }
  #flex .CardContainer img {
    display: block !important;
    cursor: pointer;
    transition: all 0.6s;
  }
  #flex .CardContainer p {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease 0.5s;
  }
  #flex .CardContainer.actif img {
    transform: rotate(180deg);
    transition: all 0.6s;
  }
  #flex .CardContainer.actif p {
    height: auto;
    max-height: 800px;
    transition: max-height ease 0.5s;
  }
  #container-info-card .card-orga img:last-child {
    width: 60px !important;
    display: block !important;
    cursor: pointer;
    transition: all 0.6s;
  }
  #container-info-card .card-orga #container-cours, #container-info-card .card-orga #container-stage, #container-info-card .card-orga .list {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease 0.5s;
  }
  #container-info-card .card-orga.activeContainer img:last-child {
    transform: rotate(180deg);
    transition: all 0.6s;
  }
  #container-info-card .card-orga.activeContainer #container-cours, #container-info-card .card-orga.activeContainer #container-stage, #container-info-card .card-orga.activeContainer .list {
    max-height: 800px;
    height: auto;
    transition: max-height ease 0.5s;
  }
  #ecoles p {
    width: 80% !important;
  }
}
@media screen and (width < 722px) {
  #container-cours {
    flex-direction: column !important;
  }
  #container-cours p {
    font-size: 24px !important;
  }
  #container-cours span {
    font-size: 28px !important;
  }
  #container-cours ul {
    margin-bottom: 40px;
    padding: 0;
    text-align: left;
  }
  #container-cours div {
    padding-left: 50px;
    width: 240px;
  }
  #container-cours div p {
    text-align: left !important;
  }
  #container-stage {
    flex-direction: column !important;
    align-items: center !important;
  }
  #container-stage #info-stage, #container-stage #info-alt {
    width: 90% !important;
  }
  #container-map iframe {
    width: 600px !important;
  }
}
@media screen and (width < 650px) {
  #containerBUT h1 {
    font-size: 38px !important;
  }
  #ecoles #container-ecoles {
    flex-direction: column !important;
    width: 100% !important;
    align-items: center !important;
  }
  #ecoles #container-ecoles .card-ecoles {
    width: 50% !important;
    aspect-ratio: unset !important;
  }
  #ecoles #container-ecoles .card-ecoles ul {
    font-size: 18px !important;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: max-height ease 0.5s;
  }
  #ecoles #container-ecoles .card-ecoles img {
    width: 110px !important;
  }
  #ecoles #container-ecoles .card-ecoles img:last-child {
    display: block !important;
    width: 60px !important;
    cursor: pointer;
    transition: all 0.6s;
  }
  #ecoles #container-ecoles .card-ecoles h3 {
    font-size: 24px !important;
  }
  #ecoles #container-ecoles .card-ecoles.activeEcole img:last-child {
    transform: rotate(180deg);
    transition: all 0.6s;
  }
  #ecoles #container-ecoles .card-ecoles.activeEcole ul {
    max-height: 800px;
    height: auto;
    margin: 0 0 15px;
    transition: max-height ease 0.5s;
  }
  #container-map iframe {
    width: 500px !important;
  }
}
@media screen and (width < 581px) {
  #title-pc {
    display: none !important;
  }
  #title-phone {
    display: block !important;
    padding: 130px 0 70px !important;
  }
  html body #containerBUT #flex {
    font-size: 15px;
  }
  html body #containerBUT #flex #CardContainerLeft {
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1.2s;
  }
  html body #containerBUT #flex #CardContainerMiddle {
    opacity: 0;
    transform: translate(0px, 150px);
    transition: all 1.2s;
  }
  html body #containerBUT #flex #CardContainerRight {
    opacity: 0;
    transform: translate(0px, 200px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #ecoles #container-ecoles .card-ecoles {
    width: 60% !important;
  }
  html body #ContainerInfos #ecoles p {
    font-size: 16px !important;
  }
  html body #ContainerInfos #insertion-pro p {
    font-size: 16px !important;
  }
  html body #ContainerInfos #insertion-pro .main-carousel #flickity-viewport .carousel-cell {
    margin: 0 15px !important;
  }
  html body #ContainerInfos #insertion-pro .main-carousel #flickity-viewport .carousel-cell .metiers {
    width: 300px !important;
  }
  .flickity-button {
    display: none;
  }
  #container-map #info-map {
    font-size: 15px !important;
  }
  #container-map iframe {
    width: 350px !important;
  }
}
@media screen and (width < 485px) {
  #flex .CardContainer {
    width: 70% !important;
  }
  html body #ContainerInfos #ecoles #container-ecoles .card-ecoles {
    width: 75% !important;
  }
  html body #ContainerInfos #ecoles #container-ecoles .card-ecoles h3 {
    font-size: 20px !important;
  }
}
@media screen and (width < 400px) {
  .carousel-cell {
    margin: 0 10px !important;
  }
  .carousel-cell .metiers {
    width: 250px !important;
  }
  .carousel-cell .metiers img {
    width: 70px !important;
  }
  .carousel-cell .metiers h3 {
    font-size: 20px !important;
  }
  #container-map iframe {
    width: 300px !important;
  }
}
@media screen and (width < 370px) {
  #container-info-card .card-orga {
    padding: 10px !important;
  }
  #container-info-card .card-orga img:last-child {
    width: 45px !important;
  }
  #container-info-card #enseignement #container-cours div {
    padding-left: 0px;
    width: 200px;
  }
  #container-info-card #enseignement #container-cours div p {
    text-align: center !important;
  }
  html body #ContainerInfos #ecoles #container-ecoles .card-ecoles {
    width: 80% !important;
  }
  #container-map iframe {
    width: 280px !important;
  }
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
html body {
  margin: 0;
  padding: 0;
  width: 100%;
}



html body #imgfond {
  height: 100vh;
  position: relative;
}
html body #imgfond #imgcouverture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}
html body #imgfond #titreCouverture {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  font-family: "titre";
  font-size: 70px;
  color: white;
  filter: drop-shadow(1px 1px black);
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
}
html body #imgfond #description {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-family: "para";
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
html body #imgfond #description .rond {
  height: 10px;
  width: 10px;
  background-color: #2F2A85;
  border-radius: 50%;
  margin: 10px;
}
html body #imgfond .icon-scroll, html body #imgfond .icon-scroll:before {
  position: fixed;
  left: 50%;
  z-index: 0;
}
html body #imgfond .icon-scroll {
  bottom: 5%;
  width: 40px;
  height: 70px;
  box-shadow: inset 0 0 0 1px white;
  border-radius: 25px;
}
html body #imgfond .icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  margin-left: 15px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(35px);
  }
}
html body #description {
  text-align: center;
}
html body #containerBUT {
  overflow: hidden;
  padding-bottom: 30px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(22, 41, 111) 0%, rgb(47, 42, 133) 47%, rgb(47, 42, 133) 54%, rgb(100, 47, 141) 100%);
}
html body #containerBUT h1 {
  margin: 0;
  font-family: "titre";
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 70px 0;
}
html body #containerBUT #flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  min-height: 550px;
  width: 95%;
}
@media screen and (width > 900px) {
  html body #containerBUT #flex #CardContainerLeft {
    opacity: 0;
    transform: translate(-200px, 0px);
    transition: all 1.2s;
  }
  html body #containerBUT #flex #CardContainerMiddle {
    opacity: 0;
    transform: translate(0px, 200px);
    transition: all 1.2s;
  }
  html body #containerBUT #flex #CardContainerRight {
    opacity: 0;
    transform: translate(200px, 0px);
    transition: all 1.2s;
  }
}
html body #containerBUT #flex .CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  font-family: "para";
  font-size: 18px;
  color: black;
  width: 23%;
  height: fit-content;
  padding: 10px 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 4px white;
  text-align: justify;
}
html body #containerBUT #flex .CardContainer h3 {
  font-family: "titre";
  font-size: 26px;
  color: black;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  text-align: center;
}
html body #containerBUT #flex .CardContainer span {
  font-family: "bold";
  font-size: 18px;
  color: black;
}
html body #containerBUT #flex img {
  width: 50px;
}
html body #containerBUT #flex2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  min-height: 550px;
  width: 95%;
}
@media screen and (width > 900px) {
  html body #containerBUT #flex2 #CardContainerLeft {
    opacity: 0;
    transform: translate(-200px, 0px);
    transition: all 1.2s;
  }
  html body #containerBUT #flex2 #CardContainerMiddle {
    opacity: 0;
    transform: translate(0px, 200px);
    transition: all 1.2s;
  }
  html body #containerBUT #flex2 #CardContainerRight {
    opacity: 0;
    transform: translate(200px, 0px);
    transition: all 1.2s;
  }
}
html body #containerBUT #flex2 .CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  font-family: "para";
  font-size: 18px;
  color: black;
  width: 23%;
  height: fit-content;
  padding: 10px 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 4px white;
  text-align: justify;
}
html body #containerBUT #flex2 .CardContainer h3 {
  font-family: "titre";
  font-size: 26px;
  color: black;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  text-align: center;
}
html body #containerBUT #flex2 .CardContainer span {
  font-family: "bold";
  font-size: 18px;
  color: black;
}
html body #ContainerInfos {
  overflow: hidden;
  position: relative;
  z-index: 10;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body #ContainerInfos h2 {
  margin: 90px 0 30px;
  font-family: "titre";
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
}
html body #ContainerInfos #orga {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body #ContainerInfos #orga #frise-orga {
  margin: 0;
  font-family: "titre";
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1050px;
  margin-bottom: 70px;
}
html body #ContainerInfos #orga #frise-orga #fleche1 {
  z-index: 100;
  opacity: 0;
  transform: translate(-300px, 0);
  transition: all 1.2s;
}
html body #ContainerInfos #orga #frise-orga #fleche2 {
  z-index: 90;
  opacity: 0;
  transform: translate(-200px, 0);
  transition: all 1.2s;
}
html body #ContainerInfos #orga #frise-orga #fleche3 {
  z-index: 85;
  opacity: 0;
  transform: translate(-150px, 0);
  transition: all 1.2s;
}
html body #ContainerInfos #orga #frise-orga #fleche4 {
  background-color: #632A9C;
  width: 200px;
  height: 70px;
  position: relative;
  padding: 10px 0 10px 30px;
  z-index: 80;
  opacity: 0;
  transform: translate(-100px, 0);
  transition: all 1.2s;
}
html body #ContainerInfos #orga #frise-orga #fleche4 p {
  margin: 0;
}
html body #ContainerInfos #orga #frise-orga #fleche4 p span {
  font-family: "para";
  font-size: 15px;
  color: white;
}
html body #ContainerInfos #orga #frise-orga #fleche4 span {
  font-family: "para";
  font-size: 18px;
  color: white;
  text-transform: none;
}
html body #ContainerInfos #orga #frise-orga #fleche4::before {
  content: "";
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  height: 0;
  width: 0;
  border-top: solid 45px transparent;
  border-left: solid 45px #242424;
  border-bottom: solid 45px transparent;
}
html body #ContainerInfos #orga #frise-orga #fleche4::after {
  content: "";
  position: absolute;
  left: 100% !important;
  top: 0 !important;
  height: 0;
  width: 0;
  border-top: solid 45px transparent;
  border-left: solid 45px #632A9C;
  border-bottom: solid 45px transparent;
}
html body #ContainerInfos #orga #frise-orga #fleche5 {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: all 1.2s;
}
html body #ContainerInfos #orga #frise-orga .fleche {
  background-color: #1C437E;
  width: 200px;
  height: 70px;
  position: relative;
  padding: 10px 0 10px 30px;
}
html body #ContainerInfos #orga #frise-orga .fleche p {
  margin: 0;
}
html body #ContainerInfos #orga #frise-orga .fleche p span {
  font-family: "para";
  font-size: 15px;
  color: white;
}
html body #ContainerInfos #orga #frise-orga .fleche span {
  font-family: "para";
  font-size: 18px;
  color: white;
  text-transform: none;
}
html body #ContainerInfos #orga #frise-orga .fleche::before {
  content: "";
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  height: 0;
  width: 0;
  border-top: solid 45px transparent;
  border-left: solid 45px #242424;
  border-bottom: solid 45px transparent;
}
html body #ContainerInfos #orga #frise-orga .fleche::after {
  content: "";
  position: absolute;
  left: 99.7% !important;
  top: 0 !important;
  height: 0;
  width: 0;
  border-top: solid 45px transparent;
  border-left: solid 45px #1C437E;
  border-bottom: solid 45px transparent;
}
html body #ContainerInfos #orga #frise-orga .entre-fleche {
  background-color: #303030;
  width: 100px;
  height: 70px;
  position: relative;
  padding: 10px 0 10px 50px;
}
html body #ContainerInfos #orga #frise-orga .entre-fleche p {
  margin: 0;
}
html body #ContainerInfos #orga #frise-orga .entre-fleche p span {
  font-family: "para";
  font-size: 15px;
  color: white;
}
html body #ContainerInfos #orga #frise-orga .entre-fleche span {
  font-family: "bold";
  font-size: 20px;
  color: white;
  text-transform: none;
}
html body #ContainerInfos #orga #frise-orga .entre-fleche::before {
  content: "";
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  height: 0;
  width: 0;
  border-top: solid 45px transparent;
  border-left: solid 45px #242424;
  border-bottom: solid 45px transparent;
}
html body #ContainerInfos #orga #frise-orga .entre-fleche::after {
  content: "";
  position: absolute;
  left: 99.6% !important;
  top: 0 !important;
  height: 0;
  width: 0;
  border-top: solid 45px transparent;
  border-left: solid 45px #303030;
  border-bottom: solid 45px transparent;
}
html body #ContainerInfos #orga #frise-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 0 80px;
}
html body #ContainerInfos #orga #frise-mobile #trait {
  height: 700px;
  width: 4px;
  background-color: #A8A8A8;
  position: relative;
  margin-right: 25px;
}
html body #ContainerInfos #orga #frise-mobile #trait #container-rond {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html body #ContainerInfos #orga #frise-mobile #trait #container-rond .rond-frise {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #A8A8A8;
}
html body #ContainerInfos #orga #frise-mobile #container-frise {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html body #ContainerInfos #orga #frise-mobile #container-frise .card-frise {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "para";
  font-size: 17px;
  color: white;
  height: 110px;
  width: 250px;
  border-radius: 10px;
  background-color: #632A9C;
}
html body #ContainerInfos #orga #frise-mobile #container-frise .card-frise p {
  margin: 0;
  font-family: "titre";
  font-size: 22px;
  color: white;
}
html body #ContainerInfos #orga #frise-mobile #container-frise #card1, html body #ContainerInfos #orga #frise-mobile #container-frise #card2 {
  background-color: #1C437E;
}
html body #ContainerInfos #orga #frise-mobile #container-frise #card3, html body #ContainerInfos #orga #frise-mobile #container-frise #card5 {
  background-color: #303030;
}
html body #ContainerInfos #orga #frise-mobile #container-frise #card1 {
  opacity: 0;
  transform: translate(100px, 0);
  transition: all 1.2s;
}
html body #ContainerInfos #orga #frise-mobile #container-frise #card2 {
  opacity: 0;
  transform: translate(130px, 0);
  transition: all 1.2s;
}
html body #ContainerInfos #orga #frise-mobile #container-frise #card3 {
  opacity: 0;
  transform: translate(190px, 0);
  transition: all 1.2s;
}
html body #ContainerInfos #orga #frise-mobile #container-frise #card4 {
  opacity: 0;
  transform: translate(220px, 0);
  transition: all 1.2s;
}
html body #ContainerInfos #orga #frise-mobile #container-frise #card5 {
  opacity: 0;
  transform: translate(250px, 0);
  transition: all 1.2s;
}
html body #ContainerInfos #orga #container-info-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
html body #ContainerInfos #orga #container-info-card img {
  width: 115px;
}
html body #ContainerInfos #orga #container-info-card .card-orga {
  background-color: #303030;
  border-radius: 10px;
  padding: 30px;
  font-family: "para";
  font-size: 18px;
  color: white;
}
html body #ContainerInfos #orga #container-info-card .card-orga p {
  font-family: "para";
  font-size: 20px;
  color: white;
}
html body #ContainerInfos #orga #container-info-card .card-orga span {
  font-family: "bold";
  font-size: 20px;
  color: white;
}
@media screen and (width > 1129px) {
  html body #ContainerInfos #orga #container-info-card #enseignement {
    opacity: 0;
    transform: translate(-200px, 0px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #orga #container-info-card #parcours {
    opacity: 0;
    transform: translate(200px, 0px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #orga #container-info-card #sae {
    opacity: 0;
    transform: translate(-200px, 0px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #orga #container-info-card #stage {
    opacity: 0;
    transform: translate(200px, 0px);
    transition: all 1.2s;
  }
}
@media screen and (width < 1130px) {
  html body #ContainerInfos #orga #container-info-card #enseignement {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #orga #container-info-card #parcours {
    opacity: 0;
    transform: translate(-200px, 0px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #orga #container-info-card #sae {
    opacity: 0;
    transform: translate(200px, 0px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #orga #container-info-card #stage {
    opacity: 0;
    transform: translate(0px, 200px);
    transition: all 1.2s;
  }
}
@media screen and (width < 1000px) {
  html body #ContainerInfos #orga #container-info-card #parcours {
    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #orga #container-info-card #sae {
    opacity: 0;
    transform: translate(0px, 150px);
    transition: all 1.2s;
  }
}
html body #ContainerInfos #orga #container-info-card #enseignement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/4;
}
html body #ContainerInfos #orga #container-info-card #enseignement p {
  text-align: center;
}
html body #ContainerInfos #orga #container-info-card #enseignement #container-cours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
html body #ContainerInfos #orga #container-info-card #enseignement #container-cours span {
  font-family: "bold";
  font-size: 24px;
  color: white;
}
html body #ContainerInfos #orga #container-info-card #enseignement #container-cours p {
  text-align: center;
}
html body #ContainerInfos #orga #container-info-card #parcours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 4/6;
}
html body #ContainerInfos #orga #container-info-card #parcours p {
  text-align: center;
}
html body #ContainerInfos #orga #container-info-card #sae {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
}
html body #ContainerInfos #orga #container-info-card #sae p {
  margin: 30px 0 0 0;
  text-align: center;
}
html body #ContainerInfos #orga #container-info-card #stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3/6;
}
html body #ContainerInfos #orga #container-info-card #stage #container-stage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
html body #ContainerInfos #orga #container-info-card #stage #container-stage h3 {
  text-align: center;
  margin: 30px 0 0 0;
}
html body #ContainerInfos #orga #container-info-card #stage #container-stage #info-stage, html body #ContainerInfos #orga #container-info-card #stage #container-stage #info-alt {
  width: 45%;
}
html body #ContainerInfos #ecoles {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body #ContainerInfos #ecoles p {
  font-family: "para";
  font-size: 18px;
  color: white;
  text-align: center;
  width: 70%;
}
html body #ContainerInfos #ecoles p span {
  font-family: "bold";
  font-size: 18px;
  color: white;
}
html body #ContainerInfos #ecoles p:last-child {
  text-align: justify;
}
html body #ContainerInfos #ecoles #container-ecoles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  flex-wrap: wrap;
}
html body #ContainerInfos #ecoles #container-ecoles .card-ecoles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "para";
  font-size: 18px;
  color: white;
  background-color: #303030;
  border-radius: 10px;
  width: 27%;
  aspect-ratio: 0.8222222222;
  margin: 40px 0;
  padding: 15px;
  min-width: 250px;
}
html body #ContainerInfos #ecoles #container-ecoles .card-ecoles img {
  width: 110px;
}
html body #ContainerInfos #ecoles #container-ecoles .card-ecoles h3 {
  font-family: "bold";
  font-size: 24px;
  color: white;
}
@media screen and (width > 905px) {
  html body #ContainerInfos #ecoles #container-ecoles #card-ecole1 {
    opacity: 0;
    transform: translate(-200px, 0);
    transition: all 1.2s;
  }
  html body #ContainerInfos #ecoles #container-ecoles #card-ecole2 {
    opacity: 0;
    transform: translate(0, 200px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #ecoles #container-ecoles #card-ecole3 {
    opacity: 0;
    transform: translate(200px, 0);
    transition: all 1.2s;
  }
}
@media screen and (width < 906px) {
  html body #ContainerInfos #ecoles #container-ecoles #card-ecole1 {
    opacity: 0;
    transform: translate(-200px, 0);
    transition: all 1.2s;
  }
  html body #ContainerInfos #ecoles #container-ecoles #card-ecole2 {
    opacity: 0;
    transform: translate(200px, 0px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #ecoles #container-ecoles #card-ecole3 {
    opacity: 0;
    transform: translate(0px, 200px);
    transition: all 1.2s;
  }
}
@media screen and (width < 650px) {
  html body #ContainerInfos #ecoles #container-ecoles #card-ecole1, html body #ContainerInfos #ecoles #container-ecoles #card-ecole2, html body #ContainerInfos #ecoles #container-ecoles #card-ecole3 {
    opacity: 0;
    transform: translate(0, 200px);
    transition: all 1.2s;
  }
}
html body #ContainerInfos #ecoles #container-ecoles #card-ecole1 {
  border: 1px solid #6ED0F2;
}
html body #ContainerInfos #ecoles #container-ecoles #card-ecole2 {
  border: 1px solid #F7D881;
}
html body #ContainerInfos #ecoles #container-ecoles #card-ecole3 {
  border: 1px solid #FF5595;
}
html body #ContainerInfos #insertion-pro {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body #ContainerInfos #insertion-pro p {
  font-family: "para";
  font-size: 18px;
  color: white;
  text-align: center;
  width: 80%;
}
html body #ContainerInfos #insertion-pro #container-pro {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 50px;
  margin: 50px 0 150px;
}
html body #ContainerInfos #insertion-pro #container-pro .metiers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "para";
  font-size: 18px;
  color: white;
  background-color: #303030;
  border-radius: 10px;
  width: 360px;
  aspect-ratio: 1.125;
  margin: 0;
  padding: 20px 10px;
}
html body #ContainerInfos #insertion-pro #container-pro .metiers img {
  width: 90px;
}
html body #ContainerInfos #insertion-pro #container-pro .metiers h3 {
  font-family: "bold";
  font-size: 24px;
  color: white;
}
html body #ContainerInfos #insertion-pro #container-pro #metier1, html body #ContainerInfos #insertion-pro #container-pro #metier1-tablette, html body #ContainerInfos #insertion-pro #container-pro #metier1-tel {
  border: 1px solid #6ED0F2;
  grid-area: 1/3/2/6;
}
html body #ContainerInfos #insertion-pro #container-pro #metier2, html body #ContainerInfos #insertion-pro #container-pro #metier2-tablette, html body #ContainerInfos #insertion-pro #container-pro #metier2-tel {
  border: 1px solid #F7D881;
  grid-area: 1/7/2/10;
}
html body #ContainerInfos #insertion-pro #container-pro #metier3, html body #ContainerInfos #insertion-pro #container-pro #metier3-tablette, html body #ContainerInfos #insertion-pro #container-pro #metier3-tel {
  border: 1px solid #AA91C7;
  grid-area: 1/11/2/14;
}
html body #ContainerInfos #insertion-pro #container-pro #metier4, html body #ContainerInfos #insertion-pro #container-pro #metier4-tablette, html body #ContainerInfos #insertion-pro #container-pro #metier4-tel {
  border: 1px solid #4EA276;
  grid-area: 2/5/3/8;
}
html body #ContainerInfos #insertion-pro #container-pro #metier5, html body #ContainerInfos #insertion-pro #container-pro #metier5-tablette, html body #ContainerInfos #insertion-pro #container-pro #metier5-tel {
  border: 1px solid #FF5595;
  grid-area: 2/9/3/12;
}
@media screen and (width > 1280px) {
  html body #ContainerInfos #insertion-pro #container-pro #metier1, html body #ContainerInfos #insertion-pro #container-pro #metier1-tablette {
    opacity: 0;
    transform: translate(-200px, 0);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro #container-pro #metier2, html body #ContainerInfos #insertion-pro #container-pro #metier2-tablette {
    opacity: 0;
    transform: translate(0, -200px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro #container-pro #metier3, html body #ContainerInfos #insertion-pro #container-pro #metier3-tablette {
    opacity: 0;
    transform: translate(200px, 0);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro #container-pro #metier4, html body #ContainerInfos #insertion-pro #container-pro #metier5, html body #ContainerInfos #insertion-pro #container-pro #metier4-tablette, html body #ContainerInfos #insertion-pro #container-pro #metier5-tablette {
    opacity: 0;
    transform: translate(0, 200px);
    transition: all 1.2s;
  }
}
@media screen and (width < 1280px) {
  html body #ContainerInfos #insertion-pro #container-pro #metier1-tablette, html body #ContainerInfos #insertion-pro #container-pro #metier3-tablette {
    opacity: 0;
    transform: translate(-200px, 0);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro #container-pro #metier2-tablette, html body #ContainerInfos #insertion-pro #container-pro #metier4-tablette {
    opacity: 0;
    transform: translate(200px, 0px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro #container-pro #metier5-tablette {
    opacity: 0;
    transform: translate(0, 200px);
    transition: all 1.2s;
  }
}
html body #ContainerInfos #insertion-pro #container-pro-tablette {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
html body #ContainerInfos #insertion-pro #container-pro-tablette .metiers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "para";
  font-size: 18px;
  color: white;
  background-color: #303030;
  border-radius: 10px;
  width: 360px;
  aspect-ratio: 1.125;
  margin: 0;
  padding: 20px 10px;
}
html body #ContainerInfos #insertion-pro #container-pro-tablette .metiers img {
  width: 90px;
}
html body #ContainerInfos #insertion-pro #container-pro-tablette .metiers h3 {
  font-family: "bold";
  font-size: 24px;
  color: white;
}
html body #ContainerInfos #insertion-pro #container-pro-tablette #metier1, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier1-tablette, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier1-tel {
  border: 1px solid #6ED0F2;
  grid-area: 1/3/2/6;
}
html body #ContainerInfos #insertion-pro #container-pro-tablette #metier2, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier2-tablette, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier2-tel {
  border: 1px solid #F7D881;
  grid-area: 1/7/2/10;
}
html body #ContainerInfos #insertion-pro #container-pro-tablette #metier3, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier3-tablette, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier3-tel {
  border: 1px solid #AA91C7;
  grid-area: 1/11/2/14;
}
html body #ContainerInfos #insertion-pro #container-pro-tablette #metier4, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier4-tablette, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier4-tel {
  border: 1px solid #4EA276;
  grid-area: 2/5/3/8;
}
html body #ContainerInfos #insertion-pro #container-pro-tablette #metier5, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier5-tablette, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier5-tel {
  border: 1px solid #FF5595;
  grid-area: 2/9/3/12;
}
@media screen and (width > 1280px) {
  html body #ContainerInfos #insertion-pro #container-pro-tablette #metier1, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier1-tablette {
    opacity: 0;
    transform: translate(-200px, 0);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro #container-pro-tablette #metier2, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier2-tablette {
    opacity: 0;
    transform: translate(0, -200px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro #container-pro-tablette #metier3, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier3-tablette {
    opacity: 0;
    transform: translate(200px, 0);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro #container-pro-tablette #metier4, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier5, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier4-tablette, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier5-tablette {
    opacity: 0;
    transform: translate(0, 200px);
    transition: all 1.2s;
  }
}
@media screen and (width < 1280px) {
  html body #ContainerInfos #insertion-pro #container-pro-tablette #metier1-tablette, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier3-tablette {
    opacity: 0;
    transform: translate(-200px, 0);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro #container-pro-tablette #metier2-tablette, html body #ContainerInfos #insertion-pro #container-pro-tablette #metier4-tablette {
    opacity: 0;
    transform: translate(200px, 0px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro #container-pro-tablette #metier5-tablette {
    opacity: 0;
    transform: translate(0, 200px);
    transition: all 1.2s;
  }
}
html body #ContainerInfos #insertion-pro #container-pro-tablette .metiers {
  margin: 20px;
}
html body #ContainerInfos #insertion-pro #container-pro-tablette .metiers ul {
  width: 80%;
}
html body #ContainerInfos #insertion-pro .main-carousel {
  opacity: 0;
  transform: translate(0, 200px);
  transition: all 1.2s;
  display: none;
  width: 100%;
  height: 400px !important;
  margin-top: 50px;
}
html body #ContainerInfos #insertion-pro .main-carousel .flickity-viewport {
  height: 100% !important;
}
html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell {
  margin: 0 25px;
}
html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell .metiers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "para";
  font-size: 18px;
  color: white;
  background-color: #303030;
  border-radius: 10px;
  width: 360px;
  aspect-ratio: 1.125;
  margin: 0;
  padding: 20px 10px;
}
html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell .metiers img {
  width: 90px;
}
html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell .metiers h3 {
  font-family: "bold";
  font-size: 24px;
  color: white;
}
html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier1, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier1-tablette, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier1-tel {
  border: 1px solid #6ED0F2;
  grid-area: 1/3/2/6;
}
html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier2, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier2-tablette, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier2-tel {
  border: 1px solid #F7D881;
  grid-area: 1/7/2/10;
}
html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier3, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier3-tablette, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier3-tel {
  border: 1px solid #AA91C7;
  grid-area: 1/11/2/14;
}
html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier4, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier4-tablette, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier4-tel {
  border: 1px solid #4EA276;
  grid-area: 2/5/3/8;
}
html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier5, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier5-tablette, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier5-tel {
  border: 1px solid #FF5595;
  grid-area: 2/9/3/12;
}
@media screen and (width > 1280px) {
  html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier1, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier1-tablette {
    opacity: 0;
    transform: translate(-200px, 0);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier2, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier2-tablette {
    opacity: 0;
    transform: translate(0, -200px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier3, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier3-tablette {
    opacity: 0;
    transform: translate(200px, 0);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier4, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier5, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier4-tablette, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier5-tablette {
    opacity: 0;
    transform: translate(0, 200px);
    transition: all 1.2s;
  }
}
@media screen and (width < 1280px) {
  html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier1-tablette, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier3-tablette {
    opacity: 0;
    transform: translate(-200px, 0);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier2-tablette, html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier4-tablette {
    opacity: 0;
    transform: translate(200px, 0px);
    transition: all 1.2s;
  }
  html body #ContainerInfos #insertion-pro .main-carousel .carousel-cell #metier5-tablette {
    opacity: 0;
    transform: translate(0, 200px);
    transition: all 1.2s;
  }
}
html body #ContainerInfos #insertion-pro .main-carousel .flickity-page-dots {
  bottom: -35px;
}
html body #ContainerInfos #insertion-pro .main-carousel .flickity-page-dots .dot {
  background-color: white;
  margin: 0 8px;
}
html body #map {
  overflow: hidden;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 700px;
  background: linear-gradient(45deg, rgb(22, 41, 111) 0%, rgb(47, 42, 133) 47%, rgb(47, 42, 133) 54%, rgb(100, 47, 141) 100%);
}
html body #map h2 {
  margin: 0;
  font-family: "titre";
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 60px 0;
}
html body #map #container-map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
html body #map #container-map #info-map {
  font-family: "para";
  font-size: 20px;
  color: white;
  width: 600px;
  margin-right: 20px;
}
html body #map #container-map iframe {
  border-radius: 10px;
}
@media screen and (width > 1129px) {
  html body #map #container-map #info-map {
    opacity: 0;
    transform: translate(-200px, 0px);
    transition: all 1.2s;
  }
  html body #map #container-map iframe {
    opacity: 0;
    transform: translate(200px, 0px);
    transition: all 1.2s;
  }
}
html body footer {
  width: 100%;
  background-color: #1F1F21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
html body footer #container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
html body footer #container .infooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "para";
  font-size: 15px;
  color: white;
  margin: 20px 0;
}
html body footer #container .infooter span:first-child {
  font-family: "para";
  font-size: 20px;
  color: white;
}
html body footer #credits {
  margin-top: 10px;
  font-family: "para";
  font-size: 13px;
  color: #929292;
}
html body footer #btn-credits {
  position: absolute;
  top: 75%;
  left: 20px;
  transform: none;
  font-family: "para";
  font-size: 15px;
  color: white;
}
html body footer #btn-credits:hover {
  text-decoration: underline;
  cursor: pointer;
}
html body #jsp-popup {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
html body #jsp-popup #container-popup {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7254901961);
  z-index: 700;
}
html body #jsp-popup #container-popup #popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "para";
  font-size: 18px;
  color: black;
  background-color: #E8E8E8;
  border-radius: 10px;
  width: 350px;
  height: 450px;
  text-align: center;
  position: relative;
}
html body #jsp-popup #container-popup #popup #close {
  width: 20px;
  position: absolute;
  top: 10px;
  left: 95%;
  transform: translateX(-50%);
  cursor: pointer;
}
html body #jsp-popup #container-popup #popup #container-text {
  height: 330px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}
html body #jsp-popup #container-popup #popup #container-text img {
  width: 100px;
}
html body #jsp-popup #container-popup #popup #container-text span, html body #jsp-popup #container-popup #popup #container-text a {
  font-family: "bold";
  font-size: 18px;
  color: black;
  text-decoration: none;
}
html body #jsp-popup #container-popup #popup #container-text a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=formation.css.map */
