header {
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: transparent; */
    z-index: 1000;
}

.navbar-custom {
    background-color: #343e9d;
    padding: 15px 0;
}

.navbar-nav {
    margin-left: 50px; /* décaler menu vers droite */
}

.nav-link-custom {
    position: relative;
    margin: 0 15px;
    color: #fff; /* texte blanc */
    text-decoration: none;
    font-weight: 500;
    padding: 5px 0;
}

.nav-link-custom::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.nav-link-custom:hover::after,
.nav-link-custom.active::after {
    width: 100%;
}

.navbar-brand img {
    height: 50px; /* logo */
}

/* menu burger en mobile */
@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: #343e9d; /* même que navbar */
        padding: 20px;
        margin-top: 10px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
    .nav-link-custom {
        color: #fff; /* assure texte visible sur fond bleu */
    }
}
