/* Fond personnalisé */
.navbar-custom {
  background: linear-gradient(45deg, rgb(22, 41, 111) 0%, rgb(47, 42, 133) 47%, rgb(47, 42, 133) 54%, rgb(100, 47, 141) 100%);
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-brand img {
  max-height: 80px;
  height: auto;
  width: auto;
}

/* Liens de navigation */
.nav-link-custom {
  margin-left: 1rem;
  margin-right: 1rem;
  white-space: nowrap;
  transition: color 0.3s ease;
  text-decoration: none;
  color: white;
}

.nav-link-custom:hover {
  color: #646363 !important;
}

.nav-link-custom.active {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

/* Bouton burger icône */
.navbar-toggler {
  border: none;
  background-color: #fff;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Responsive */
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nav-link-custom {
    display: block;
    padding: 0.5rem 0;
    margin: 0;
  }

}