html{
    body{
        #container-menu{
            position: fixed;
            top: 0;
            left: 0;
            @include flex(row, center, center);
            background-color: $fond-card;
            z-index: 5000;
            width: 100%;
            height: 260px;
            #menu-mobile{
                @include flex(column, space-evenly, flex-start);
                width: 90%;
                height: 100%;
                padding-bottom: 10px;
                #close-menu{
                    width: 30px;
                    align-self: flex-end;
                    cursor: pointer;
                }
                a{
                    text-decoration: none;
                    @include font("bold", 20px, $white);
                }
            }
        }
    }
}
@media screen and (width < 1130px){
    #titreCouverture{
        font-size: 60px !important;
    }
    #description{
        font-size: 18px !important;
    }
}
@media screen and (width < 1100px){
    html body header nav{
        width: 630px !important;
    }
}
@media screen and (width < 950px){
    html body header nav{
        width: 550px !important;
        padding-right: 30px !important;
        .container-nav a{
            font-size: 20px !important;
        }
    }
    #titreCouverture{
        font-size: 50px !important;
    }
    #description{
        font-size: 17px !important;
    }
}
@media screen and (width < 850px){
    html body header nav{
        display: none !important;
    }
    #menu-burger{
        display: block !important;
    }
    html body footer #container{
        width: 100% !important;
        font-size: 14px !important;
    }
    #titreCouverture{
        font-size: 45px !important;
    }
}
@media screen and (width < 650px){
    #btn-credits{
        top: 70% !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
    .infooter{
        margin: 30px 0 50px !important;
    }
}
@media screen and (width < 581px){
    #imgfond{
        display: none !important;
    }
}
@media screen and (width < 450px){
    #credits{
        font-size: 12px !important;
        text-align: center !important;
    }
    #btn-credits{
        font-size: 14px !important;
    }
    .infooter{
        font-size: 14px !important;
        span:first-child{
            font-size: 17px !important;
        }
    }
    header img:first-child{
        left: 10px !important;
    }
    #menu-burger{
        right: 20px !important;
    }
}
@media screen and (width < 390px){
    html body header img:first-child{
        height: 35px !important;
    }
    #menu-burger{
        height: 35px !important;
    }
}