@import 'global.scss';
@import 'virtuelle_responsive.scss';

html{
    @include reset;
    body{
        @include popup;
        @include reset;
        @include header(fixed, $bleu);
        background-color: $fond;
        #dixveux{
            width: 100%;
            @include flex(column, center, center);
            background-color: $fond;
            @include font("para", 20px, $white);
            text-align: center;
            h1{
                @include main-titre(120px 0 20px, 48px, 0);
            }
            p{
                padding: 0 20px;
            }
            iframe{
                border: none;
                margin-bottom: 70px;
                aspect-ratio: 1000 / 650;
                width: 70%;
            }
        }
        #map{
            @include map;
        }
        footer{
            @include footer;
            position: relative;
        }
    }
}